
<div class="menu">
  <ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    <li condition-class-active="@isHome()">
      <a asp-page="/Index">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li condition-class-active="@isAbout()">
      <a asp-page="/About">
        <i class="material-icons">text_fields</i>
        <span>About</span>
      </a>
    </li>
    <li condition-class-active="@isContact()">
      <a asp-page="/Contact">
        <i class="material-icons">layers</i>
        <span>Contact</span>
      </a>
    </li>
    <li condition-class-active="@isAdministrador()">
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">trending_down</i>
        <span>Administrador</span>
      </a>
      <ul class="ml-menu">
        <li condition-class-active="@isAdministradorUsuario()">
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Usuários</span>
          </a>
          <ul class="ml-menu">
            <li condition-class-active="@isAdministradorUsuarioCadastro()">
              <a asp-page="/Administrador/Usuarios/Cadastro">
                <span>Cadastro</span>
              </a>
            </li>
            <li condition-class-active="@isAdministradorUsuarioConsulta()">
              <a asp-page="/Administrador/Usuarios/Consulta">
                <span>Consulta</span>
              </a>
            </li>
            <li condition-class-active="@isAdministradorUsuarioRelatorio()">
              <a asp-page="/Administrador/Usuarios/Relatorio">
                <span>Relatório</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li condition-class-active="@isChangelogs()">
      <a asp-page="/Changelogs">
        <i class="material-icons">update</i>
        <span>Changelogs</span>
      </a>
    </li>
  </ul>
</div>


@functions
{
bool isHome() => ViewData["Menu"].ToString() == "Home";

bool isAbout() => ViewData["Menu"].ToString() == "About";

bool isContact() => ViewData["Menu"].ToString() == "Contact";

// Administrador

bool isAdministrador() => ViewData["Menu"].ToString().Contains("Administrador-");

// Administrador - Usuario

bool isAdministradorUsuario() => ViewData["Menu"].ToString().Contains("Administrador-Usuario-");

bool isAdministradorUsuarioCadastro() => ViewData["Menu"].ToString().Contains("Administrador-Usuario-Cadastro");

bool isAdministradorUsuarioConsulta() => ViewData["Menu"].ToString().Contains("Administrador-Usuario-Consulta");

bool isAdministradorUsuarioRelatorio() => ViewData["Menu"].ToString().Contains("Administrador-Usuario-Relatorio");

// Changelogs
bool isChangelogs() => ViewData["Menu"].ToString() == "Changelogs";


}
